<p>Welcome to Richard's Poker Casino!</h3>
<p> 
  <% number = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"] %>
  <% suit = ["diamonds","clubs","hearts","spades"] %>
  <img src="http://golearntocode.com/images/cards/<%=number.sample%>_of_<%=suit.sample%>.png", height ="200", width = "auto">
  <img src="http://golearntocode.com/images/cards/<%=number.sample%>_of_<%=suit.sample%>.png", height ="200", width = "auto">
  <img src="http://golearntocode.com/images/cards/<%=number.sample%>_of_<%=suit.sample%>.png", height ="200", width = "auto">
  <img src="http://golearntocode.com/images/cards/<%=number.sample%>_of_<%=suit.sample%>.png", height ="200", width = "auto">
  <img src="http://golearntocode.com/images/cards/<%=number.sample%>_of_<%=suit.sample%>.png", height ="200", width = "auto">
</p>